* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #bddfff;
    color: #000;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo a {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: small;
    color: blue;
    font-style: italic;
}

.logo span {
    color: coral;
}

.logo img {
    height: 30px;
    margin: 10px 0;
}

.navbar .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 10px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    width: 400px;
    padding: 5px;
}

.search button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-nav a {
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    font-size: 12px;
}

h2 {
    color: #ff7f50;
    font-size: medium;
    padding: 20px;
}

h2 span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}

h4 {
    font-weight: 500;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    font-size: 0.7rem;
    font-style: italic;
    color: #a1a1a1;
}

/* KONTEN */
.konten {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: 60px auto;
    max-width: 900px;
}

/* HALAMAN BERANDA KONTEN UPDATE */
.konten-update {
    width: 100%;
}

.list-update {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 20px;
}

.comic-items {
    position: relative;
}

.comic-items .cover-container img {
    display: block;
    max-width: 100%;
    height: 100%;
}
.konten-update .tittle {
    padding: 5px 0;
}
.tittle .judul {
    color: #000;
    width: 90%;
    text-decoration: none;
}

/* HALAMAN BERANDA KONTEN TOP VIEWS */
.top-views {
    margin: 20px 0;
}

.top-views .list-views {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 20px;
}

.comic-views a {
    display: flex;
}

.gambar {
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 0;
    width: 120px;
}

.comic-views .gambar img {
    width: 100%;
}

.gambar .views,
.daftar-komik .views {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: center;
    background-color: #3d3d3d;
    color: #fff;
    padding: 2px 10px;
    font-size: small;
    border-radius: 5px;
}

.views ion-icon {
    font-size: medium;
    margin-right: 5px;
}

.informasi {
    display: flex;
    white-space: normal;
    flex-direction: column;
    margin-left: 10px;
    max-width: 142px;
}

.informasi .judul {
    color: #000;
    margin-top: 10px;
    max-width: 90%;
}

.informasi .genre,
.informasi .update,
.informasi .baca,
.informasi .up-ch {
    color: #999;
    margin-top: 10px;
}

/* HALAMAN DAFTAR KOMIK */

.list-judul {
    padding: 20px;
}
.list-judul p {
    font-style: normal;
    font-size: medium;
    color: #000;
}

.daftar-komik {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.daftar-komik .judul {
    padding-top: 5px;
    line-height: 1;
    color: #000;
}

/* HALAMAN DAFTAR KOMIK KONTEN DROPDOWN GENRE */
.dropdown {
    display: inline-block;
    position: absolute;
    flex-direction: column;
    top: 20px;
    right: 20px;
}

.dropdown-btn {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
    right: 0;
}

.dropdown-content button {
    display: flex;
    justify-content: end;
    padding: 5px 20px;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
}

/* HALAMAN FAVORIT */
.tab-container {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

.tab {
    display: flex;
    padding: 20px;
}

.tab-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: coral;
    font-size: medium;
    font-weight: 600;
    border: none;
    cursor: pointer;
    outline: none;
}

.tab-btn.active {
    background-color: blue;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: medium;
}

.tab-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.tab-pane {
    flex-shrink: 0;
    width: 100%;
}

.tab-pane.active {
    display: block;
}

/* HALAMAN FAVORIT KONTEN RIWAYAT */
.list-riwayat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 20px 10px;
}

/* HALAMAN FAVORIT KONTEN FAVORIT */
.daftar-favorit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 20px 10px;
}

.daftar-favorit .cover-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 0;
}

.cover-container .hover-overlay {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.comic-items:hover .hover-overlay {
    opacity: 1;
}

.btn-baca,
.btn-hapus {
    width: 80px;
    height: 40px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn-baca:hover,
.btn-hapus:hover {
    background-color: #000;
    color: #fff;
}


@media screen and (min-width: 901px) {
    .navbar .navbar-nav a ion-icon {
        display: none;
    }

    .navbar-nav .active {
        font-weight: bold;
        color: coral;
        border-bottom: 2px solid coral;
        height: 30px;
        padding-bottom: 10px;
    }

    .navbar .navbar-nav a:hover {
        content: '';
        display: block;
        border-bottom: 2px solid coral;
        padding-bottom: 10px;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 900px) {

    /* Navbar */
    .navbar .logo a {
        display: flex;
        font-weight: 600;
        align-items: center;
        font-size: large;
        color: blue;
    }

    .logo span {
        color: coral;
    }

    .logo img {
        height: 30px;
        margin: 10px 0;
    }

    .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: blue;
        height: 50px;
    }

    .navbar .navbar-nav a {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin: 0 auto;
        font-size: 10px;
        text-decoration: none;
    }

    .navbar .navbar-nav ion-icon {
        display: flex;
        font-size: 22px;
    }

    .navbar .search {
        justify-content: right;
    }

    .navbar .search input[type="text"] {
        width: 300px;
    }

    /* FITUR SLIDE */
    .tab-pane {
        flex-shrink: 0;
        width: 100vw;
    }

    
}

@media only screen and (max-width: 500px) {

    /* NAVBAR */
    .navbar .logo h1 {
        display: none;
    }

    .navbar .search input[type="text"] {
        width: 200px;
    }
    h2 {
        padding: 20px 10px;
    }
    .tab {
        padding: 20px 10px;
    }

    /* HALAMAN BERANDA KONTEN UPDATE */
    .konten-update .list-update {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 10px 10px;
    }

    /* HALAMAN BERANDA KONTEN TOP VIEWS */
    .top-views .list-views {
        grid-template-columns: repeat(1, 1fr);
        margin: 5px 10px;
    }

    .comic-views .gambar {
        width: 40%;
    }
    .informasi {
        width: 200px;
    }

    /* HALAMAN DAFTAR KOMIK */
    .list-judul {
        padding: 10px;
    }

    .daftar-komik {
        grid-template-columns: repeat(2, 1fr);
    }

    /* HALAMAN FAVORIT KONTEN RIWAYAT */
    .list-riwayat {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 5px 10px 20px;
    }

    /* HALAMAN FAVORIT KONTEN FAVORIT */
    .daftar-favorit {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 5px 10px;
    }
}