* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #bddfff;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease;
    z-index: 999;
}

.navbar.hidden {
    top: -50px;
    pointer-events: none;
}

.logo a {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: small;
    color: blue;
    font-style: italic;
}

.logo span {
    color: coral;
}

.logo img {
    height: 30px;
    margin: 10px 0;
}

.history-bar {
    font-size: 12px;
    font-weight: 500;
}

.history-bar a {
    text-decoration: none;
    color: #000;
}

.history-bar span {
    font-weight: 800;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-nav a {
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    font-size: 12px;
}

/* NAVIGASI BAWAH */
#navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    text-align: end;
    z-index: 999;
    transition: bottom 0.3s ease;
}

#navigation.hidden {
    bottom: -50px;
    pointer-events: none;
}

#navigation ion-icon {
    font-size: 1.5rem;
    margin: 0 20px;
    color: coral;
}

#navigation button {
    flex-direction: row;
}

.hidden {
    display: none;
}

.dropdown {
    display: inline-block;
    flex-direction: column;
    top: 20px;
    right: 20px;
}

.dropdown-btn {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    z-index: 1;
    right: 0;
}

.dropdown-content ul {
    padding: 10px 0;
}
.dropdown-content li {
    display: flex;
    justify-content: end;
    padding: 5px 20px;
    width: 100%;;
    font-size: 0.8rem;
    cursor: pointer;
}
.dropdown-content ul li a {
    color: #000;
}

.dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    bottom: 100%;
}


/* KONTEN */
.konten {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 900px;
}

#image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#image-container img {
    width: 100%;
    margin: 0;
    /* Menghapus margin default */
}


@media screen and (min-width: 901px) {
    .navbar-nav .active {
        font-weight: bold;
        color: coral;
        border-bottom: 2px solid coral;
        height: 30px;
        padding-bottom: 10px;
    }

    .navbar .navbar-nav a:hover {
        content: '';
        display: block;
        border-bottom: 2px solid coral;
        padding-bottom: 10px;
        transition: 0.2s;
    }
}