* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #fff;
    color: #000;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo a {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: large;
    color: blue;
}
.logo span {
    color: coral;
}
.logo img {
    height: 30px;
    margin: 10px 0;
}

.navbar .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 10px;
}
.search input[type="text"] {
    border: none;
    outline: none;
    width: 400px;
    padding: 5px;
}
.search button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-nav a {
    display: flex;
    align-items: center;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    font-size: 12px;
}
.navbar .navbar-nav a:hover {
    content: '';
    display: block;
    border-bottom: 2px solid coral;
    padding-bottom: 10px;
    transition: 0.2s;

}

.navbar-nav .active {
    font-weight: bold; /* memberikan tebal pada teks */
    color: coral; /* mengubah warna teks menjadi merah */
    border-bottom: 2px solid coral;
    height: 30px;
    padding-bottom: 10px;
}


/* Navbar-Abjad */
/* .container-abjd {
    display: flex;
    position: fixed;
    left: 50%;
    left: 0;
    right: 0;
    top: 50px;
    scroll-behavior: smooth;
    transform: translate(-50%, -50%);
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
    z-index: 100;
    }   
    .nav-abjad {
    margin: 10px auto;
    display: inline-block;
    font-size: medium;
    justify-content: space-between;
    }  
    .nav-abjad a {
        display: inline-block;
        text-decoration: none;
        margin: 0 10px;
        color: blue;
        font-size: large;
        justify-content: space-between;
        overflow-x: auto;
    }
    :target:before {
        content: "";
        display: block;
        height: 100px; 
        margin: -50px 0 0; 
    }

    .nav-abjad a:hover {
        color: coral;
    } */

/* Konten */
.konten {
    display: flex;
    position: relative;
    margin: 80px 5%;
    justify-content: center;
}

/* Update Terbaru */
.konten .konten-update {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 900px;
    flex-direction: column;
}
h2 {
    color: #ff7f50;
    font-size: medium;
}
h2 span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}
.konten-update .list-update {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.list-update .comic-items {
    position: relative;
    width: 100%
}
.comic-items .cover-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.comic-items img {
    display: block;
    max-width: 100%;
}
.comic-items .tittle {
    width: 150px;
    height: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tittle a {
    font-weight: 500;
    font-size: large;
    color: #000;
    text-decoration: none;
}
.tittle p {
    font-size: 12px;
    font-style: italic;
    color: #a1a1a1;
}
.tittle .update {
    margin-top: 5px;
}
.tittle .tag {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: coral;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
}

/* Top Views */
.top-view {
    display: flex;
    padding-left: 20px;
    max-width: 450px;
    flex-direction: column;
}

.top-view .list-views {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.top-view .comic-views {
    display: flex;
    margin-bottom: 10px;
}

.top-view .gambar {
    position: relative;
    width: 30%;
}

.top-view .gambar img {
    max-width: 100%;
    height: auto;
}

.top-view .views {
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #222;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.views ion-icon {
    font-size: medium;
    margin-right: 5px;
}

.top-view .informasi {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 200px;
}

.top-view .judul {
    font-size: large;
    font-weight: 500;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}

.top-view .genre {
    margin-bottom: 5px;
    color: #999;
}

.informasi p {
    font-size: small;
}

.top-view .update {
    color: #999;
    font-style: italic;
}

/* Section Genre */
.genre-komik {
    margin-top: 20px;
}

.genre-komik .genre-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.genre-komik .genre-options a {
    display: block;
    padding: 10px 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;
}

.genre-komik .genre-options a:hover {
    background-color: #333;
    color: #fff;
}

/* List Komik */
.konten-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 900px;
    flex-direction: column;
    /* margin-top: 50px; */
}
.list-judul {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}
.list-komik {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 20px;
}
.list-komik .comic-items {
    position: relative;
    width: 100%;
}
.list-komik .views {
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #222;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
}
.list-komik .comic-items .tittle {
    text-align: center;
}

/* favorit */
.navbar-htyfav {
    display: flex;
    max-width: 900px;
    margin: ;
}
@media screen and (min-width: 1025px) {
.navbar .navbar-nav a ion-icon {
    display: none;
    }
}

@media only screen and (max-width: 1024px) {
    /* Navbar */
.navbar .logo a {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: large;
    color: blue;
}
.logo span {
    color: coral;
}
.logo img {
    height: 30px;
    margin: 10px 0;
}
.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: blue;
    height: 50px;
    }
.navbar .navbar-nav a {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 auto;
    font-size: 10px;
    text-decoration: none;
    }
.navbar .navbar-nav ion-icon {
    display: flex;
    font-size: 22px;
    }
.navbar .search {
    justify-content: right;
    }
.navbar .search input[type="text"] {
    width: 300px;
    }
  /* Navbar End */

  /* Navbar Abjad */
/* .container-abjd {
    overflow-x: auto;
} */

  /* Konten */
.comic-items .tittle {
    margin: 0;
    width: 135px;
    height: 45px;
}
.tittle a {
    font-size: medium;
}
.tittle p {
    font-size: 10px;
}
.tittle .tag {
    font-size: 10px;
    padding: 3px 6px;
    bottom: 0;
}

/* Top Views */
.top-view .comic-views {
    margin-bottom: 0;
}
.top-view .gambar {
    width: 80%;
}
.top-view .judul {
    font-size: medium;
    margin-top: 10px;
}
.informasi p {
    font-size: 10px;
}

/* Genre Komik */
.genre-komik .genre-options a {
    padding: 5px 10px;
}
}

@media only screen and (max-width: 560px) {
    /* Navbar */
    .navbar .logo p {
        display: none;
    }
    .navbar .search input[type="text"] {
        width: 200px;
    }

    /* Navbar Abjad */
    /* .container-abjd {
        margin-top: 20px;
    } */
    
    /* Konten */
    .konten {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .konten-update .list-update {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* Genre Komik */
    .genre-komik .genre-options a {
        font-size: 10px;
    }

    /* Top Views */
    .top-view {
        padding-left: 0;
        margin-top: 20px;
    }

    .top-view .gambar {
        max-width: 150px;
    }

    /* list-komik */
    .container-abjd {
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    }
}